<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="OCR recognition micro-service: recognize and extract all line text from line images, generate line text files and a over-all file." />
        <meta name="author" content="Jingchao Luan" />
        <title>OCR Recognition Micro-Service</title>
    </head>
    <body>
	<h2 align="center">OCR Recognition Micro-Service</h2>
	<br>
	<h4>Goal:</h4>
	<p>Recognize and extract all line text from line images, generate line text files and a over-all file.</p>
        <h4>Usage:</h4>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;1. Call OCR segmentation micro-service with url: "http://10.224.18.222:8003/api/".</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;2. Input: the path of the segmented image(s), uploaded in form style. Usually the images are the output of OCR segmentation service similiar "0100??.bin.png", and all of these images belong to a singal origianl image.</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;3. Output: a text file containing all of the line text.</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;4. E.g. 
		<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;For one image: curl -F "file=@path_to_image" -o name_of_output_file http://10.244.18.222:8003/api/
		<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;For two images: curl -F "file1=@path_to_image1" -F "file2=@path_to_image2" -o name_of_output_file http://10.244.18.222:8003/api/</p>
	<h4>Note:</h4>
	<p>&nbsp;&nbsp;&nbsp;&nbsp;The image(s) must be the segmented image(s), or individual line text image(s).</p>
    </body>
</html>
